{% extends 'admin/adminBase.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}

{% block adminBody %}
<section class="grid">
    <article></article>
    <article></article>
    <article></article>
    <article></article>
    <article></article>
    <article></article>
    <article></article>
    <article></article>
</section>
{% endblock %}
