<div id="icon-bar">
    <a href="https://www.facebook.com" target="_blank" class="facebook"><i class="fa fa-facebook facebook"></i></a>
    <a href="https://www.twitter.com" target="_blank" class="twitter"><i class="fa fa-twitter twitter"></i></a>
    <a href="https://www.google.com" target="_blank" class="google"><i class="fa fa-google google"></i></a>
    <a href="https://www.linkedin.com" target="_blank" class="linkedin"><i class="fa fa-reddit reddit"></i></a>
    {# <a href="https://www.youtube.com/channel/UC6MIZqjxkwKhwEoCytpay3w" target="_blank" class="youtube"><i class="fa fa-youtube youtube"></i></a> #}
</div>
