<header class="page-header">
    <nav>
        <button class="toggle-mob-menu" aria-expanded="false" aria-label="open menu">
            <svg width="20" height="20" aria-hidden="true">
                <use xlink:href="#down"></use>
            </svg>
        </button>
        <a href="{{path('app_accueil')}}" aria-label="forecastr logo" class="logo">
            <img src="{{ asset('assets/images/logo/tlse-dev.png')}}"/>
        </a>
        <ul class="admin-menu">
            <li class="menu-heading">
                <h3>Administration</h3>
            </li>
            <li>
                <a href="#0">
                    <svg>
                        <use xlink:href="#pages"></use>
                    </svg>
                    <span>Pages</span>
                </a>
            </li>
            <li>
                <a href="#0">
                    <svg>
                        <use xlink:href="#users"></use>
                    </svg>
                    <span>Utilisateurs</span>
                </a>
            </li>
            <li>
                <a href="#0">
                    <svg>
                        <use xlink:href="#trends"></use>
                    </svg>
                    <span>Statistiques</span>
                </a>
            </li>
            <li>
                <a href="#0">
                    <svg>
                        <use xlink:href="#collection"></use>
                    </svg>
                    <span>Collections</span>
                </a>
            </li>
            <li>
                <a href="#0">
                    <svg>
                        <use xlink:href="#comments"></use>
                    </svg>
                    <span>Commentaires</span>
                </a>
            </li>
            <li>
                <a href="#0">
                    <svg>
                        <use xlink:href="#appearance"></use>
                    </svg>
                    <span>Thémes</span>
                </a>
            </li>
            <li class="menu-heading">
                <h3>Paramétres</h3>
            </li>
            <li>
                <a href="#0">
                    <svg>
                        <use xlink:href="#settings"></use>
                    </svg>
                    <span>Réglages</span>
                </a>
            </li>
            <li>
                <a href="#0">
                    <svg>
                        <use xlink:href="#options"></use>
                    </svg>
                    <span>Options</span>
                </a>
            </li>
            <li>
                <a href="#0">
                    <svg>
                        <use xlink:href="#charts"></use>
                    </svg>
                    <span>Graphiques</span>
                </a>
            </li>
            <li>
                <div class="switch">
                    <input type="checkbox" id="mode" checked>
                    <label for="mode">
                        <span></span>
                        <span>Nuit</span>
                    </label>
                </div>
                <button class="collapse-btn" aria-expanded="true" aria-label="collapse menu">
                    <svg aria-hidden="true">
                        <use xlink:href="#collapse"></use>
                    </svg>
                    <span></span>
                </button>
            </li>
        </ul>
    </nav>
</header>