.header{
    background-color: var(--dark);
    padding: 1rem;
}

.headerBanner {
    background-image: url("/assets//images/placeholder.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-width: 100%;
    padding: 1rem;
    height: 200px;
    display: flex;    
    flex-direction: column;
    justify-content: center;
}

.headerBanner h1 {
    background-color: var(--info-transparent);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 0 auto;
    border: 15px solid var(--dark);
    border-radius: .5rem;
    text-transform: uppercase;
    text-align: center;
    width: 50%;
}

nav {
    background-color: var(--dark);
    max-height: 100px;
    width: 100%;
    z-index: 100;
    padding: 0;
    margin: 0 auto;
    display: flex;
    transition: all 1s;
}

nav p {
    visibility: hidden;
    width: 0;
}

.fixedHeader {
    background: var(--dark);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 0 1px 1px var(--info);
    transition: left 1s;
}

.fixedTitle{
    background-color: var(--dark);
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 1.2rem;
    width: 30%;
    visibility: visible;
    transition: all .3s;
}

.banner {
    background-color: var(--dark);
    color: var(--white);
    font-weight: bold;
    text-align: center;
}

.navlinks {
    background: var(--dark);
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    width: 100%;
    list-style-type: none;
}

.navlink {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin: .5rem auto;
    text-align: center;
}

.link {
    background-color:var(--gray-dark);
    color: var(--light);
    padding: 1rem;
    margin: 0.2rem;
    font-size: .7rem;
    border-radius: .5rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: all .3s;
    box-shadow: 0 0 100px 0px rgba(0, 217, 255, 0);
}

.link:hover {
    color: var(--light);
    text-decoration: none;
    box-shadow: 0 0 1px 1px var(--info);
}

.navlink .link.avatar  {
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
}

.navlink .link.avatar:hover {
    color: var(--white);
}

.navlink .link.avatar img {
    border-radius: 50%;
    width: 15px;
}

/* Dropdown */
/* .drop_content {
    visibility: hidden;
    position: absolute;
    max-width: 150px;
    padding: .5rem;
    z-index: 10;
    text-align: left;
    gap: 0.5em;
    display: flex;
    flex-direction: column;
}

.drop_content a {
    color: var(--info);
    background-color: var(--white);
    transition: background-color .3s;
    font-size: 15px;
    padding: 5px;
    border-radius: 5px;
    border: 3px solid var(--white);
    text-decoration: none;
    display: block;
}

.drop_content a:hover {
    color: var(--white);
    background-color: var(--info);
    border: 3px solid var(--white);
}

.drop:hover .drop_content {
    visibility: visible;
} */
/* END . */


/* SIDENAV MENU */
.sidenav {
    background-color: var(--dark);
    color: var(--white);
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 100px;
    transition:all 0.5s;
}

.sidenavBtn{
    padding: .5rem;
    display: flex;
    flex-direction: column;
}
.sidenavAvatar {
    background-color: var(--dark);
    width: 100%;
    border-radius: 3px;
    padding: 1rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.sidenavAvatar img {
    border-radius: 50%;
    width: 75px;
    height: 75px;
}

.sidenavAvatar span {
    text-transform: uppercase;
    text-align: center;
    /* color: var(--white); */
    font-size: 18px;
    margin: 0 auto;
}

.sidenavLink {
    /* background-color: var(--info); */
    /* color: var(--white); */
    padding: 1rem;
    text-decoration: none;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidenavLink:hover {
    /* background-color: rgba(80, 198, 228, 0.274); */
}

.sidenav .closebtn {
    color: var(--info);
    display: flex;
    justify-content:center;
    font-size: 56px;
    transition: .2s;
}
.sidenav .closebtn:hover {
    color: var(--danger);
    transform: rotateZ(360deg);
}
#main {
    transition: margin-left .5s;
    padding: 0;
}

@media screen and (max-width: 800px) {
    .sidenav {
        padding-top: 15px;
    }
    
    .sidenav a {
        font-size: 18px;
    }

    .link {
        padding: .5rem;
        margin: 0;
        font-size: .7rem;
        border-radius: 3px;
    }
}

@media screen and (max-width: 520px) {
    
    .link {
        padding: .3em;
        margin: 0;
        font-size: .7rem;
    }
    .sidenav {
        padding-top: 15px;
    }
    
    .sidenav .avatar img {
        border-radius: 50%;
        width: 45px;
        height: 45px;
    }
    .sidenav .avatar span {
        font-size: .5rem    ;
    }
    .sidenav .closebtn {
        color: rgb(255, 0, 0);
        position: absolute;
        top: -.5rem;
        left: 2.2rem;
        font-size: 26px;
        margin-left: 50px;
    }
    
    .sidenav .link {
        background-color: rgba(255, 0, 0, 0);
        font-size: 11px;
        padding: .5rem;
    }

}