/* ARTICLE */
/* ROW  */
.row {
    margin: 0 auto;
    padding: 1rem;
    width: 800px;
    transition: all .5s;
    max-width: 100%;
    content: "";
    display: table;
    clear: both;
}

.row h2 {
    padding: 2rem;
    color: var(--white);
    background: var(--danger);
}

.row p {
    padding-left: 1rem;
    margin: 1rem auto;
    text-align: justify;
}


/* Left column */

.leftcolumn {
    background-color: var(--success);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    float: left;
    width: 75%;
}


/* Right column */

.rightcolumn {
    background-color: var(--yellow);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    float: left;
    width: 25%;
    padding-left: 20px;
}


/* Image */

.fakeimg {
    background-color: var(--info);
    width: 100%;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* Add a card effect for articles */

.card {
    background-color: var(--yellow);
    box-shadow: 8px 8px 5px 0px rgba(0, 0, 0, 0.363);
}
.card:hover {
    box-shadow: 8px 8px 20px 1px rgba(0, 0, 0, 0.308);
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Footer */
.footer {
    position: fixed;
    z-index: 1;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:  var(--danger);
    color: var(--white);
    text-align: center;
    font-size: 0.8em;
}

/* FORMULAIRE */
.container {
    background-color: var(--danger);
    border-radius: 5px;
    padding: 20px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}
.row_form{
    background-color:  var(--yellow);
    margin: 1rem auto;
    width: 1200px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem   ;
}
.col-25_form {
    background-color:  var(--secondary);
    width: 25%;
}
.col-25_form select {
    background-color:  var(--success);
    width: 100%;
    padding: 13px 20px;
}

.col-75_form {
    background-color:  var(--pink);
    width: 75%;
}

.ytrow{
    background-color:  var(--green);
    margin: 1rem auto;
    min-width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
}
.ytcol {
    background-color:  var(--warning);
    width: 250px;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 800px) {
    .col-25,
    .col-75,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
    .leftcolumn,
    .rightcolumn {
        width: 100%;
        padding: 0;
    }
}


/* CONTENT */


/* .content {
    background-color: rgb(255, 255, 255);
    float: none;
    margin: 2rem auto;
    padding: 1rem;
    width: 1200px;
    transition: all .5s;
    max-width: 100%;
    height: min-content;
    display: grid;
    grid-template-columns: 5fr 1fr;
    gap: 1rem;
} */


/* ARTICLE SHOW */

.accueil {
    background:  var(--gray);
    color: var(--white);
    margin: 1rem auto;
    text-align: center;
    min-width: 100%;
}

.accueil h2 {
    padding: 0;
    color: var(--white);
    background: var(--pink);
}

.accueil p {
    padding: 0.5rem;
    text-align: justify;
}

.accueil_aside {
    background: var(--pink);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    top: 0;
}

.accueil_aside_cards {
    background: #3b000000;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.accueil_aside_cards_card {
    background: #00000000;
    display: flex;
    width: 100%;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

.accueil_aside_cards_card_img {
    display: flex;
    align-items: center;
    height: 150px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all .5s;
    background-image: url("/assets/images/10000-ans-avant-jesus.jpeg");
}

.accueil_aside_cards_card_title {
    border-radius: .5rem;
    padding: 1rem;
    margin: 0 auto;
    text-align: center;
    color: #ffffff;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.226);
    background-color: #76542d;
}

.accueil_aside_cards_card_body {
    color: #ffffff;
    position: relative;
    z-index: 1;
    background-color: #260303;
    width: 100%;
    text-align: center;
}

.accueil_aside_cards_card:hover .accueil_aside_cards_card_img,
.accueil_aside_cards_card:focus .accueil_aside_cards_card_img {
    transform: scale(1.7);
}

.accueil_aside_cards_card:hover .accueil_aside_cards_card_img:before,
.accueil_aside_cards_card:focus .accueil_aside_cards_card_img:before {
    display: block;
}


/* PAGE ARTICLES */


/* LES ARTICLES ASIDE */

.page_les_articles_aside {
    background: #0011ff00;
    display: flex;
}

.page_les_articles_aside_cards {
    /* background: var(--marron); */
}

.said {
    padding: 1rem;
}

.page_les_articles_aside_cards_card_categorie_title {
    background: #76542d;
    color: white;
    border-radius: .8rem;
    position: relative;
    padding: 1rem;
    text-align: center;
    margin-bottom: 1rem;
    text-shadow: 0 0 0 rgb(0, 0, 0);
}

.page_les_articles_aside_cards_card {
    width: 100%;
    background: #0044ff00;
    margin-bottom: .5rem;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.page_les_articles_aside_cards_card_img {
    border-radius: .8rem;
    width: 100%;
    height: 180px;
    position: relative;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
}

.page_les_articles_aside_cards_card_img:hover {
    box-shadow: 0 5px 10px 0 var(--marron);
}

.page_les_articles_aside_cards_card_title {
    padding: 0.5rem;
    font-size: .9rem;
    background: #25030394;
    color: var(--white);
    text-shadow: 0 0 0 rgb(0, 0, 0);
    border-top-left-radius: .8rem;
    border-top-right-radius: .8rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.page_les_articles_aside_cards_card_body {
    background-color: #ffffffc2;
    color: var(--dark);
    max-width: 100%;
    font-size: 0.8rem;
}


/* LES ARTICLES */

.page_les_articles {
    background: rgba(255, 0, 0, 0);
    margin: 0;
}

.page_les_articles_cards {
    background: rgba(255, 0, 0, 0);
}

.page_les_articles_cards_card {
    width: 100%;
    background: rgba(0, 128, 0, 0);
    padding: 0;
    text-decoration: none;
}

.page_les_articles_cards_card_link_header {
    width: 100%;
    border-radius: 1rem;
    background: #250303fb;
    color: var(--white);
    display: flex;
    flex-direction: column;
    top: 0;
    text-decoration: none;
    margin: .5rem;
    padding: 0;
    margin: 0;
}

.page_les_articles_cards_card_link_header_title {
    height: 50px;
    border-top-right-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page_les_articles_cards_card_link_header_img {
    background-color: white;
    padding: 1rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: 200px;
}

.page_les_articles_cards_card_body {
    background-color: #d7cdc2;
    color: var(--dark);
    padding: .5rem;
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    gap: 1rem;
    margin-bottom: 2rem;
}

.page_les_articles_cards_card_body_infos {
    background: rgba(255, 0, 170, 0);
    font-size: .7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.page_les_articles_cards_card_body_infos_folder {
    background-color: rgba(0, 255, 170, 0);
}

.page_les_articles_cards_card_body_infos_calendar {
    background-color: rgba(0, 16, 247, 0);
}

.page_les_articles_cards_card_body_infos_author {
    background-color: rgba(255, 0, 179, 0);
}

.page_les_articles_cards_card_body_content {
    background-color: rgba(123, 255, 0, 0);
}

.page_les_articles_cards_card_body_content_resume {
    background-color: #ffffff00;
}

.page_les_articles_cards_card_body_content_social {
    background-color: #eeff0000;
}


/* FIN ARTICLES */


/* ARTICLE SHOW */

.page_articles_show_infos {
    font-size: .8rem;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: rgba(255, 0, 0, 0);
}

.page_articles_show_infos_date {
    font-size: .8rem;
    width: 100%;
    display: flex;
    gap: .5rem;
    background-color: rgba(255, 255, 255, 0);
}

.page_articles_show_infos_like {
    width: 100%;
    font-size: .8rem;
    align-items: center;
    justify-content: right;
    gap: .5rem;
    display: flex;
    background-color: rgba(161, 248, 0, 0);
}

.page_articles_show_infos_social {
    font-size: .8rem;
    display: flex;
    align-items: center;
    justify-content: right;
    background-color: rgba(255, 255, 255, 0);
}


/* FIN ARTICLE SHOW */


/* CATEGORIES */

.page_les_categories {
    background: #ff0000;
}

.page_les_categories_cards {
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: .5rem;
    cursor: pointer;
}

.page_les_categories_cards a {
    text-decoration: none;
}

.page_les_categories_card {
    position: relative;
    overflow: hidden;
    padding: 0;
    margin: 0 auto;
}

.page_les_categories_card_img {
    display: flex;
    align-items: center;
    height: 150px;
    width: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all .5s;
}

.page_les_categories_card:hover .page_les_categories_card_img,
.page_les_categories_card:focus .page_les_categories_card_img {
    transform: scale(1.1);
}

.page_les_categories_card:hover .page_les_categories_card_img:before,
.page_les_categories_card:focus .page_les_categories_card_img:before {
    display: block;
}

.page_les_categories_card_body {
    position: relative;
    z-index: 1;
    background-color: #0026ff;
    width: 100%;
    text-align: center;
}

.page_les_categories_card_title {
    padding: 1rem;
    margin: 0 auto;
    text-align: center;
    font-size: 1.1rem;
    color: #ffffff;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.226);
    background-color: #17a3b8;
}

.page_les_categories_card_articles_title {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
}


/* ASIDE CATEGORIES */

.page_les_categories_aside {
    background: #00fff2;
}

.page_les_categories_aside_cards {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.page_les_categories_aside_cards_card {
    background: #00000000;
    display: flex;
    width: 100%;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

.page_les_categories_aside_cards_card_img {
    display: flex;
    align-items: center;
    height: 150px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all .5s;
    background-image: url("/assets/images/10000-ans-avant-jesus.jpeg");
}

.page_les_categories_aside_cards_card_title {
    border-radius: .5rem;
    padding: 1rem;
    margin: 0 auto;
    text-align: center;
    color: #ffffff;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.226);
    background-color: #76542d;
}

.page_les_categories_aside_cards_card_body {
    color: #ffffff;
    position: relative;
    z-index: 1;
    background-color: #260303;
    width: 100%;
    text-align: center;
}

.page_les_categories_aside_cards_card:hover .page_les_categories_aside_cards_card_img,
.page_les_categories_aside_cards_card:focus .page_les_categories_aside_cards_card_img {
    transform: scale(1.1);
}

.page_les_categories_aside_cards_card:hover .page_les_categories_aside_cards_card_img:before,
.page_les_categories_aside_cards_card:focus .page_les_categories_aside_cards_card_img:before {
    display: block;
}


/* FIN  ASIDE CATEGORIES */


/* FIN CATEGORIES */


/* CONTENT USER */

.content_users {
    /* background-color: var(--marron); */
    padding: 0;
    margin: 0 auto;
    width: 1200px;
    transition: all .5s;
    max-width: 100%;
    height: min-content;
}


/* USERS ACCUEIL */

.page_users_accueil {
    background-color: rgba(119, 0, 255, 0);
    padding: 1rem;
    margin: 0 auto;
}

.page_users_accueil_card {
    background-color: rgba(255, 217, 0, 0);
    padding: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.page_users_accueil_card_header {
    background-color: rgba(0, 26, 255, 0);
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 0;
    margin: 0 auto;
}

.page_users_accueil_card_header_infos {
    background-color: rgba(255, 0, 0, 0);
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.page_users_accueil_card_header_infos_img {
    background-color: rgba(0, 255, 191, 0);
    padding: 0;
    text-align: center;
}

.page_users_accueil_card_header_infos_img img {
    background-color: rgba(0, 255, 191, 0);
    padding: 0;
    border-radius: 50%;
    width: 120px;
    height: 120px;
}

.page_users_accueil_card_header_user {
    background-color: rgba(204, 0, 255, 0);
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: .5rem;
    font-size: .8rem;
}

.page_users_accueil_card_header_user_name {
    background-color: rgba(0, 47, 255, 0);
}

.page_users_accueil_card_header_btns {
    display: flex;
    justify-content: center;
    gap: 1rem;
    color: white;
    background-color: rgba(0, 247, 255, 0);
}

.page_users_accueil_card_header_btn {
    border-radius: .5rem;
    border: none;
    outline: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    color: white;
    background-color: var(--marron);
    cursor: pointer;
    width: 150px;
    font-size: .8rem;
}

.page_users_accueil_card_header_btn:hover {
    opacity: 0.7;
}

.page_users_accueil_card_body {
    background-color: rgba(0, 38, 255, 0);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    margin: 0 auto;
}

.page_users_accueil_card_body_articles {
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: column;
}

.page_users_accueil_card_body_articles_btns {
    background-color: rgba(255, 0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.page_users_accueil_card_body_articles_btns_btn {
    border-radius: .5rem;
    border: none;
    outline: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    color: white;
    background-color: var(--marron);
    cursor: pointer;
    width: 150px;
    font-size: .8rem;
}

.page_users_accueil_card_body_articles_btns_btn:hover {
    opacity: 0.7;
}

.page_users_accueil_card_body_articles_btns_title {
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.page_users_accueil_card_body_articles_actions {
    background-color: rgba(255, 0, 0, 0);
    padding: .5rem;
    display: flex;
    justify-content: space-between;
}

.page_users_accueil_card_body_articles_link {
    background-color: rgba(0, 38, 255, 0);
}

.page_users_accueil_card_body_articles_link:hover {
    opacity: 0.7;
}


/* FIN USERS ACCUEIL */


/* FORGOTPASSWORD */

.forgotPassword_card {
    display: flex;
    width: 80%;
    margin: 0 auto;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

.forgotPassword_card_title {
    padding: 1rem;
    margin: 0;
    font-size: 1.1rem;
    color: #ffffff;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.226);
    background-color: #17a3b8;
}

@media only screen and (max-width: 960px) {
    /* body {
        font-size: 1.2rem;
    }
    .content {
        background-color: rgba(255, 0, 0, 0);
        float: none;
        display: block;
    } */
    .accueil {
        float: none;
        margin: 0 auto;
        width: 96%;
    }
    .accueil:last-of-type {
        margin-bottom: 3rem;
    }
    .accueil_aside {
        float: none;
        text-align: center;
        width: 100%;
    }
    .page_les_articles {
        padding: 1rem;
    }
}