@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900");
@import url("https://fonts.googleapis.com/css?family=Pacifico");
:root {
    --indigo: #6610f2;
    --purple: #6f42c1;
    --warning: #ffc107;
    --pink: #e83e8c;
    --danger: #dd2033;
    --success: #28a745;
    --info: #17a3b8;
    --info-transparent: #17a3b8b4;
    --white: #fff;
    --light: #f8f9fa;
    --primary: #007bff;
    --brown: #582f00;
    --secondary: #6c757d;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --dark: #272b30;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: "lato", sans-serif;
    color: var(--gray);
}

body {
    min-height: 100%;
    padding: 0;
    line-height: 1.5;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: var(--orange);
}

a:hover {
    text-decoration: underline;
    color: var(--info);
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid  var(--gray);
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color:  var(--success);
    color: var(--white);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5rem auto;
}

input[type=submit]:hover {
    opacity: .7;
}

select{
    width: 50%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: var(--white);
}